<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>AGPPA</title> 
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
    
        <div class="nav"> <!-- Header -->
            <a href="./index.html"><h1>AGPPA</h1></a>
            <nav>
                <a href="./index.html">Dashboard</a>
                <a href="./athletes.html">Athletes</a>
                <a href="./teams.html">Teams</a>
                <a href="./games.html">Games</a>
            </nav>
        </div>
        <div id="athleteForm" class="Create Athlete">
            <button onclick="gameForm()">Create Athlete</button>

        </div>
        <script src="index.js"></script>
    </body>
</html>